<launch>

  <!-- Debug flag  -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- dataset information -->
  <arg name="database" default="package://pyre/database/shelf_zero"/> 
  <arg name="start" default="1"/> 
  <arg name="end" default="10"/> 

  <!-- Start the train node -->
  <node name="$(anon merger)" launch-prefix="$(arg launch_prefix)" pkg="pyre" type="merge" output="screen" > 
      <param name="database" value="$(arg database)"/>
      <param name="start" value="$(arg start)"/>
      <param name="end" value="$(arg end)"/>
  </node>
  
</launch>
